*{
    background-color:#2C2C2C;
    margin: 0;
    padding: 0;
}
.images1{
    height: 600px;
    width: 600px;
    margin-top: 172px;
    margin-left: 268px;
    border-radius: 12px;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-left: -100px;
    color: white;
    font-family:'Comfortaa';
    word-wrap: break-word;
    line-height: 1.8;
}
body{
    height: 10px;
}
.image2{
    display: flex;
    align-items: center;
    height: 400px;
    width: 400px;
    margin-left: 1090px;
    margin-top: -400px;
}
/* GRAS 
.notif{ 
   margin-left: 360px;
   margin-top: -200px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    font-family: 'Comfortaa';
}
.textfield{
    margin-top: 30px;
    margin-left: 200px;
}
.subscribe{
    margin-left: 640px;
    margin-top: -88px;
}
.email{
    color: grey;
    font-family: 'Comfortaa';
    margin-top: -50px;
    margin-left: 220px;
}*/
.copyright{
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: 200px;
}



