@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa/Comfortaa-Light.ttf');
    src: url('/fonts/Comfortaa/Comfortaa-Medium.ttf');
    font-weight: 400;
    font-style: normal;

    }
.container{
    background-color: aqua;
}