*{
    color: white;
    background-color: #333333;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
color: #fff;
background-color: #0066CC;
padding: 12px 35px;
border: none;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 50px;
transition : 1151ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{

transition : 1155ms;
padding: 10px 42px;
transform : translateY(-5px);
background-color: #fff;
color: #000000;
border: solid 2px #007af5;
}

@media (min-width: 786px){
.fieldset-container {
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(241, 241, 241, 0.1);
    width: 550px;
  }


  .bpm {
    font-size: 18px;
    font-weight: bold;
  }
  
  .progress-bar-duration {
    display: flex;
    align-items: center;
    justify-content: start;

  }
  
  .duration {
    font-size: 14px;
   
  }
  
  .label-percentage {
    display: flex;
    align-items: center;
  }
  
  .label {
    font-size: 14px;
  }
  
  .percentage {
    font-size: 16px;
    font-weight: bold;
  }
  
  .separator {
    border: none;
    border-top: 1px solid #ddd;
    margin: 5px 0;
  }
  

}

@media (max-width: 785px) {

  .fieldset-container {
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(241, 241, 241, 0.1);
    width: 400px;
    /* height: 400px; */
  }


  .bpm {
    font-size: 18px;
    font-weight: bold;
  }
  
  .progress-bar-duration {
    display: flex;
    align-items: center;
    justify-content: start;

  }
  
  .duration {
    font-size: 14px;
   
  }
  
  .label-percentage {
    display: flex;
    align-items: center;
  }
  
  .label {
    font-size: 14px;
  }
  
  .percentage {
    font-size: 16px;
    font-weight: bold;
  }
  
  .separator {
    border: none;
    border-top: 1px solid #ddd;
    margin: 5px 0;
  }
  







}



